body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #fae4cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
}
/*-------------titulo----------------*/
header h1{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
/*------------------------Navegador uno ----------------------------*/
.Navegacion{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.barra{
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 10px;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 10px;
    flex-grow: 1;
}
.items{
    margin: 0px 10px;
    flex-grow: 1;
}
.items a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
.items a img{
    width: 25px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}
.uno a{
    display: flex;
    align-items: center;
    color: blue;
}
.cuatro{
    flex-grow: 2;
}
input{
    border-radius: 5px;
    border: 1px solid #00000018;
    padding: 5px;
    width: 100%;
}
input:hover{
    border: none;
}
.cinco a{
    color: rgb(0, 0, 0);
    border: 1px solid #0073ff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0  5px #b3cceb;
}
.seis a {
    background-color: #0c5ec1;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
/*---------------------------Navegador dos-------------------------*/
